# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/
ENV/
env/
.venv/

# virtual environment
AI-model/venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# logs
*.log
